body {
  position: relative; }
  body .main-header-mobile {
    color: #25AAE1;
    font-weight: 600;
    font-size: 40px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 10px; }
    @media screen and (min-width: 576px) {
      body .main-header-mobile {
        display: none; } }
  body .header-container {
    z-index: 10;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* required */
    background-color: #ffffff;
    padding-top: 30px; }
    body .header-container .main-header {
      color: #25AAE1;
      font-weight: 600;
      font-size: 40px;
      text-decoration: none;
      display: block;
      text-align: center;
      margin-bottom: 10px; }
  body a {
    color: #25AAE1; }
  body img {
    width: 100%;
    margin: 10px auto 15px; }
  body .btn {
    background-color: #25AAE1;
    display: block;
    text-align: center;
    width: 50%; }
  body hr {
    border-color: #25AAE1; }
    body hr.sub-minor-hr {
      width: 30%; }
    body hr.minor-hr {
      width: 50%;
      display: block; }
      body hr.minor-hr.content-hr {
        display: none; }
        @media screen and (min-width: 576px) {
          body hr.minor-hr.content-hr {
            width: 50%;
            display: block; } }
    body hr.major-hr {
      display: none; }
      @media screen and (min-width: 576px) {
        body hr.major-hr {
          display: block;
          width: 75%;
          margin: 40px auto;
          border-width: 2px; } }
  body #navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 160px;
    /* required */ }
    body #navbar .nav-link {
      transition: .5s;
      color: #cacaca;
      font-weight: 600; }
      body #navbar .nav-link:hover {
        color: #25AAE1; }
      body #navbar .nav-link.active {
        background-color: #25AAE1;
        color: #ffffff; }
    body #navbar .parent-link {
      margin-top: 15px; }
      body #navbar .parent-link:first-child {
        margin-top: 0; }
    body #navbar .nav-parent {
      border-bottom: 1px solid #cacaca; }
      body #navbar .nav-parent:last-child {
        border-bottom: none; }
  @media screen and (min-width: 576px) {
    body .container .row .col-12.col-body {
      margin-top: 50px; } }
  body .container .row .col-12 .dropdown-anchor {
    background-color: rgba(37, 170, 225, 0.3);
    padding: 8px 0 0 10px;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 10px; }
    @media screen and (min-width: 576px) {
      body .container .row .col-12 .dropdown-anchor {
        background-color: white;
        margin-bottom: -75px;
        padding-left: 0; } }
    body .container .row .col-12 .dropdown-anchor.dropdown-anchor-child {
      background-color: rgba(37, 170, 225, 0.1);
      margin-left: 10px; }
      @media screen and (min-width: 576px) {
        body .container .row .col-12 .dropdown-anchor.dropdown-anchor-child {
          background-color: white;
          margin: auto auto -75px 0;
          padding-left: 0; } }
  body .container .row .col-12 .collapse-anchor {
    cursor: inherit;
    color: inherit; }
    body .container .row .col-12 .collapse-anchor:hover {
      text-decoration: none; }
    @media screen and (max-width: 576px) {
      body .container .row .col-12 .collapse-anchor:after {
        content: "\f105";
        color: #333;
        bottom: 45px;
        left: 93%;
        position: relative;
        font-family: "FontAwesome";
        font-size: 22px; }
      body .container .row .col-12 .collapse-anchor[aria-expanded="true"]:after {
        content: "\f107"; } }
  body .container .row .col-12 .section {
    margin-bottom: 20px; }
  body .container .row .col-12 .subsection {
    margin-bottom: 20px; }
  @media (min-width: 576px) {
    body .collapse, body .collapsing {
      display: block;
      height: auto !important;
      visibility: visible; }
    body .body-text {
      padding-top: 80px; }
      body .body-text:first-child {
        padding-top: 80px; } }
