// Colors.
$battery-charged-blue: #25AAE1;
$light-battery-charged-blue: rgba(37, 170, 225, .3);
$lighter-battery-charged-blue: rgba(37, 170, 225, .1);
$white: #ffffff;
$silver: #cacaca;
// Breakpoints.
$small: 576px;

body {
  position: relative;

  .main-header-mobile {
    color: $battery-charged-blue;
    font-weight: 600;
    font-size: 40px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    @media screen and (min-width: $small) {
      display: none;
    }
  }

  .header-container {
    z-index: 10;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    background-color: $white;
    padding-top: 30px;
    .main-header {
      color: $battery-charged-blue;
      font-weight: 600;
      font-size: 40px;
      text-decoration: none;
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  a {
    color: $battery-charged-blue;
  }

  img {
    width: 100%;
    margin: 10px auto 15px;
  }

  .btn {
    background-color: $battery-charged-blue;
    display: block;
    text-align: center;
    width: 50%;
  }

  hr {
    border-color: $battery-charged-blue;

    &.sub-minor-hr {
      width: 30%;
    }

    &.minor-hr {
      width: 50%;
      display: block;

      &.content-hr {
      display: none;
        @media screen and (min-width: $small) {
          width: 50%;
          display: block;
        }
      }
    }

    &.major-hr {
      display: none;
      @media screen and (min-width: $small) {
        display: block;
        width: 75%;
        margin: 40px auto;
        border-width: 2px;
      }
    }
  }

  #navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 160px; /* required */

    .nav-link {
      transition: .5s;
      color: $silver;
      font-weight: 600;

      &:hover {
        color: $battery-charged-blue;
      }

      &.active {
        background-color: $battery-charged-blue;
        color: $white;
      }
    }

    .parent-link {
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
    }

    .nav-parent {
      border-bottom: 1px solid $silver;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .container {
    .row {
      .col-12 {
        &.col-body {
          @media screen and (min-width: $small) {
            margin-top: 50px;
          }
        }
        .dropdown-anchor {
          background-color: $light-battery-charged-blue;

          padding: 8px 0 0 10px;
          border-radius: 5px;
          height: 50px;
          margin-bottom: 10px;
          @media screen and (min-width: $small) {
            background-color: white;
            margin-bottom: -75px;
            padding-left: 0;
          }

          &.dropdown-anchor-child {
            background-color: $lighter-battery-charged-blue;
            margin-left: 10px;

            @media screen and (min-width: $small) {
              background-color: white;
              margin: auto auto -75px 0;
              padding-left: 0;
            }
          }
        }
        .collapse-anchor {
          cursor: inherit;
          color: inherit;

          &:hover {
            text-decoration: none;
          }

          @media screen and (max-width: $small) {
            &:after {
              content: "\f105";
              color: #333;
              bottom: 45px;
              left: 93%;
              position: relative;
              font-family: "FontAwesome";
              font-size: 22px;
            }

            &[aria-expanded="true"] {
              &:after {
                content: "\f107";
              }
            }
          }
        }

        .section {
          margin-bottom: 20px;
        }

        .subsection {
          margin-bottom: 20px;
        }
      }
    }
  }

  // Prevents collapse effect on screens larger than mobile.
  @media (min-width: $small) {
    .collapse, .collapsing {
      display: block;
      height: auto !important;
      visibility: visible;
    }

    .body-text {
      padding-top: 80px;
      &:first-child {
        padding-top: 80px;
      }
    }
  }

}

